{% extends "base.html" %}
{% load widget_tweaks %}

<!-- Author Create -->
{%block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Register New Author</div>
    <div class="panel-body">
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label>Author's name</label>
          {% render_field form.name class+="form-control" autocomplete="off" %}
        </div>
        <button class="btn btn-default btn-primary pull-right" type="submit">Register</button>
        <a class="btn btn-default btn-secondary pull-left" href="{% url 'authors' %}"><i class="fa fa-angle-left"></i> Back</a>
      </form>
    </div>
  </div>
</div>

<!-- End Author Create -->

<script>
  document.getElementById('authorlink').classList.add('active');
  document.getElementById('booklink').classList.remove('active');
  document.getElementById('homelink').classList.remove('active');
</script>

{% endblock %}