{% extends "base.html" %}
{% load widget_tweaks %}

<!-- Book Delete -->
{%block content %}

<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Delete Book</div>
    <div class="panel-body">
      <form method="post">
        {% csrf_token %}
        <div style="text-align:center;">
          <div class="alert alert-danger">
            Are you sure you want to delete the book "{{ object }}"?
          </div>
        </div>
        <button class="btn btn-default btn-primary pull-right" type="submit">Delete</button>
        <a class="btn btn-default btn-secondary pull-left" href="{% url 'books' %}"><i class="fa fa-angle-left"></i> Back</a>
      </form>
    </div>
  </div>
</div>

<!-- End Book Delete -->

<script>
  document.getElementById('authorlink').classList.remove('active');
  document.getElementById('booklink').classList.add('active');
  document.getElementById('homelink').classList.remove('active');
</script>

{% endblock %}